@import url('https://fonts.googleapis.com/css2?family=Holtwood+One+SC&display=swap');

html, body{
    margin: 0;
    background: #16262E;
    color: #F5F9EA;
}

#content {
    max-width: 1600px;
    margin: auto;
}

header{
    height:10vh;
}

header, nav {
    display: flex;
    background: #2E4756;
}

nav{
    justify-content:center;
    align-items:center;
    font-family: "Holtwood",sans-serif;
}

nav a {
    margin: 15px;
    padding: 8px;
    border: 2px solid black;
    text-decoration: none;
    color: #F5F9EA;
}

nav a:hover {
    background: #16262E;
}

#logo_link{
    display:flex;
    align-items:center;
    margin: 0;
    padding: 0;
}

.logo {
    width: 100px;
    height: 100px;
}

.aboutmeimage{
    display:grid;
    grid-template: 78vh/50% 50%;
}
.about-info-container{
    padding: 15px;
    height:auto;
    overflow:auto;
}
.about-img{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

.about-img img {
    display:block;
    max-width: 75%;
    max-height: 100%;
    width: auto;
    height: auto;
}

footer {
    display: flex;
    justify-content: center;
    height: 12vh;
    background: #2E4756;
}

.footer-container{
    display:flex;
    width: 100%;
    justify-content:space-between;
    padding-right: 30px;
    padding-left:30px;
}

.copyright{
    display:flex;
    align-items:center;
}

.footer-site-navigation{
    padding-top:20px;
}

.footer-site-navigation hr{
    margin: 0;
    padding:0;
}

.link{
    margin: 0;
    padding:0;
}

.link a {
    text-decoration: none;
    color: #F5F9EA;
}

.social{
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding: 0;
    margin: 0;
}

.middle-icon{
    margin-left:5px;
    margin-right:5px;
}

.social>a>img{
    width: 30px;
    height: 30px;
}







/* my work */

.my-work-main{
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.page-header{
    display: flex;
    justify-content: center;
}

.main-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.slideshow-container-1, .slideshow-container-2{
    display: flex;
    width: 100%;
    background: black;                
    position: relative;
    margin-bottom: 5vh;
    box-shadow: 0 0 20px black;
    border-radius: 0 0 10px 10px;
    overflow: hidden;
}
.presentation{
    display: flex;
    flex-direction: column;
    width: 80%;

}

.slider-caption{
    width: 100%;
    display: flex;
    justify-content: center;
    background: #2E4756;
    border-radius: 10px 10px 0 0;
    z-index: 1; 
    font-family: "Holtwood",sans-serif;
}

.slide{
    width:100%;
    min-width: 100%;
    height: 60vh;
    display: none;
    
}

.active{
    display:flex;
    transition: opacity 2s ease;
}

.slide img{
    max-height: 80%;
    max-width: 100%;
    display: block;
    margin: auto;
}

.previous-btn, .next-btn{
    position:absolute;
    top: 0;
    display: flex;
    align-items: center;
    height: 100%;
    background: black;
    z-index: 2;
    font-size: 2rem;
}
.previous-btn:hover, .next-btn:hover{
    background: lightgray;
    color: black;
}

.next-btn{
    right:0;
    padding-right: 2rem;
    padding-left: 2rem;
    border-radius: 0 0 10px 0;
}

.previous-btn{
    left:0;
    padding-right:2rem;
    padding-left: 2rem;
    border-radius: 0 0 0 10px;
}

/*Previous Employment*/

.experience-container{
    display:grid;
    grid-template: 78vh/50% 50%;
}

.work-img-one{
    display:flex;
    flex-direction:column;
    /* justify-content:center; */
    align-items:center; 
}

.work-img-one img {
    display:block;
    max-width: 75%;
    max-height: 100%;
    width: auto;
    height: auto;
}

.experience-container{
    padding-top: 40px;
    padding-bottom: 40px;
}

.experience-description{
    display: flex;
    flex-direction: column;
    margin:0;
    width:75%;
    border: 2px solid yellow;
    height:fit-content;
    padding: 25px;
}

.experience-description h2{
    padding-bottom: 10px;
}

.experience-description h2, .location, .time{
    margin: 0;
    font-family: "Holtwood",sans-serif;
}

.experience-description p{
    margin: 0;
    padding-bottom: 10px;
}

.work-info{
    display: flex;
    justify-content: space-between;
}

/* Contact Form */
.contact-main{
   min-height: 72.8vh;
   display: flex;
   justify-content: center;
   align-items: flex-start;
   padding-top: 3rem;
}

.contact-form{
    width: 25%;
}

.contact-form h1{
    margin: 0;
    padding: 0;
}

.contact-underline{
    margin-bottom: 20px;
}

.contact-form input[type=text], 
.contact-form input[type=email], 
.contact-form select,
textarea{
    border:none;
    box-shadow: 0 0 10px black;
    border-radius: 5px;
    height: 2rem;
    width:100%;
    margin-bottom: 10px;
    resize: none;
    font-family: 'Holtwood', sans-serif;
}

select{
    margin:0;
    padding:0;
}

textarea{
    padding:5px;
    height: 200px;
}

label{
    font-family: 'Holtwood', sans-serif;
    padding-bottom: 10px;
}

.input-container{
    /* padding-right: 25px;
    padding-left: 25px; */
}

.name{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.button-container{
    display: flex;
    justify-content: flex-end;
}

.button-container button{
    padding:8px;
    background-color: lightgray;
    color: black;
    border-radius: 5px;
    border:none;
    font-family: 'Holtwood' sans-serif;
    box-shadow: 0 0 5px black;
}

.button-container button:hover{
    background: grey;
    color:white
}

.button-container button:active{
    box-shadow: 0 0 15px black;
}

